src/main/mule/indigo-uriParams.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="dc7c3a6b-135a-4ce3-8818-d58d97f4ae6b" >
		<http:request-connection host="indigo-services.us-e2.cloudhub.io" port="80" />
	</http:request-config>
	
	<flow name="indigoFlow-uriParams" doc:id="053103d4-1db3-434d-9907-f70b4294de18">
		<logger level="INFO" doc:name="Logger" doc:id="4f946dae-2178-4eab-a147-df801308656c" message="REQUEST STARTS FROM HERE............"/>
		<http:request method="GET" doc:name="Request" doc:id="9e03de19-901d-4ca8-8fde-fe9979c1e7e9" config-ref="HTTP_Request_configuration1" path="/api/getFlights">
			<http:query-params ><![CDATA[#[output application/java
---
{
	from : attributes.uriParams.source,
	to : attributes.uriParams.destination,
	depatureDate : attributes.uriParams.doj
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="467dcc62-6649-417a-aea3-12dc72a4f56c" message="Response from the indigo flights.......#[payload]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="075c27ed-ac61-483f-8708-93616c1ebc9e" >
				<ee:transform doc:name="Transform Message" doc:id="531fe2e2-1ab6-43b5-9c6d-aac669a74e20" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	statusCode: 500,
	message: "unable to process the indigo request, please try again"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
