src/main/mule/indigo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="a189bcf7-41ce-4a26-8054-8609abc3f5bd" >
		<http:request-connection host="indigo-services.us-e2.cloudhub.io" port="80" />
	</http:request-config>
	
	<flow name="indigoFlow" doc:id="55d28b7c-e9de-43ba-89ab-a2fc977fcad9" >
		<logger level="INFO" doc:name="Logger" doc:id="7c2d9d33-75ee-4a20-84b9-2375afea5506" message="REQUEST STARTS FROM HERE............"/>
		<http:request method="GET" doc:name="Request" doc:id="f248957e-477a-4a03-9632-d612826752ff" config-ref="HTTP_Request_configuration" path="/api/getFlights">
			<http:query-params ><![CDATA[#[output application/java
---
{
	from : attributes.queryParams.source,
	to : attributes.queryParams.destination,
	depatureDate : attributes.queryParams.doj
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="995e45cb-95bb-4299-9c18-276f9ccec4f9" message="Response from the indigo flights.......#[payload]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="0a6cb991-a327-4333-8918-606faccc9627" >
				<ee:transform doc:name="Transform Message" doc:id="200939e4-1f77-4ba3-ab10-c21b290ef0db" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	statusCode: 500,
	message: "unable to process the indigo request, please try again"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
